<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.jpeg" class="rounded-circle" id="fotodeperfil">
    </div>
    <div class="p-5">
        <div class="row">
            <div class="col-3">
                <h5>Datos Personales</h5>
                <ul>
                    <li>
                        <strong>Nombre: </strong>
                        <!-- <span>{{persona.nombre}} {{persona.apellido}}</span> -->
                        <span>Nicolas Sponton</span>
                    </li>
                    <li>
                        <strong>Fecha de Nacimiento: </strong>
                        <span>14/05/2023</span>
                    </li>
                    <li>
                        <strong>Nacionalidad: </strong>
                        <span>Argentino</span>
                    </li>
                    <li>
                        <strong>Estado Civil: </strong>
                        <span>soltero</span>
                    </li>
                </ul>
                <h5>Contacto</h5>
                <ul>
                    <li>
                        <strong>Correo: </strong>
                        <span>escnsponton@gmail.com</span>
                    </li>
                    <li>
                        <strong>Tel: </strong>
                        <span>3482-576672</span>
                    </li>
                </ul>
            </div>
            <div class="col-sm">
                <span>
                    <h1>Acerca de mí</h1>
                    <p>Soy un Desarrollador de Software apasionado por la informatica, 
                        a su ves me encuentro siempre aprendiendo a travez de los trabajos que realizo, videos, y cursos en internet. 
                        Actualmente, me encuentro trabajando como programador Jr.
                    </p>
                </span>
            </div>
        </div>
    </div>
</div> 